.logo{
    background: #E6E6E6;
    text-align: center;
}
h1{
    background: #C4C4C4;
    color: #005677;
    text-align: center;
}
h2{
    background: #C4C4C4;
    color: #005677;
}
span{
    font-weight: 1000;
    font-style: italic;
}
footer{
    background-color: #005677;
}
.foot{
    color: #E6E6E6;
    text-align: center;
}